.wallet-row {
    display: flex;
    height: 90px;
    margin-top: 11px;
     
}

.wallet-square {
    position: inherit;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background-color: rgba(255,255,255,0.15);
    mix-blend-mode: normal;

    margin-right: 1px;
    width: 90px;
}

.wallet-icon {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wallet-detail {
    display: flex;
    position: inherit;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background-color: rgba(255,255,255,0.2);
    mix-blend-mode: normal;

    margin-left: 1px;
    margin-right: 1px;
    width: calc(100% - 15px);
    flex-direction: column;
}

.wallet-name {
    position: inherit;
    height: 51px;
    left: 2.06%;
    right: 50.51%;
    top: calc(50% - 51px/2 - 19.5px);
    
    // font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 24px;
    
    color: #FFFFFF;

    margin-left: 20px;
    padding-top: 20px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

.wallet-address {
    position: inherit;
    height: 38px;
    left: 2.06%;
    right: 50.51%;
    top: calc(50% - 38px/2 + 26px);
    
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 15px;
    
    color: #FFFFFF;

    margin-left: 20px;

    text-overflow: ellipsis;
    overflow: hidden;

}

 h6{
    position: fixed;
    width: 555px;
    color: white; 
    text-align: center;
    font-size: 16px;
    top: 45px;
    
}


.folder-name {
    position: relative;
    width: 90%;
    height: 4rem;
    
    text-align: center;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    font-size: 3rem;

    color: #FFFFFF;
    text-shadow: 0px 5px 7px rgba(0, 0, 0, 0.15), 0px 1px 1px rgba(0, 0, 0, 0.15);

    > img {
        max-height: 100%;
        padding-left: 40px;
        opacity: 0.5;
    }
}

.path-name{
    position: relative;
    width: 100%;
    text-align: center;

    font-style: normal;
    font-weight: 100;
    line-height: normal;
    font-size: 1rem;

    color: #FFFFFF;
    text-shadow: 0px 5px 7px rgba(0, 0, 0, 0.15), 0px 1px 1px rgba(0, 0, 0, 0.15);
}

#drop{

    position: absolute;
    width: calc(100% - 15px); 
    height: 100%
 
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
         
}
/*This just stops me getting horizontal scrolling if anything overflows the width*/
body {
    overflow-x: hidden;
}
/*Just removing default browser padding/margin*/
html,
body {
    padding: 0;
    margin: 0;
    color: #ebebeb;
}





.keystore-folder,
.backup-folder,
.import-folder {
    position: absolute;
    overflow: auto;
    height: 100%;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.keystore-folder::-webkit-scrollbar,
.backup-folder::-webkit-scrollbar,
.import-folder::-webkit-scrollbar {
    display: none;
}

.keystore-folder {
    left: 0; 
    width: calc(50%);
    // margin-left: 15px;
    background-color: rgba(255, 255, 255, 0.05);
}

.backup-folder { 
    right: 0;
   width: calc(50% - 15px);
   margin-right: 15px;
    background-color: rgba(255, 255, 255, 0.05);
   
}

.import-folder {
    right: 0;
   width: calc(50% - 15px);
   margin-right: 15px;
    background-color: rgba(255, 255, 255, 0.05);
}




.display{
    display:none;
}


   .wallet-actions{

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 1px;
    color: #fff;
   }

   .new-wallet {
    cursor: pointer;
    display: flex;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 15px;
    float: right;
}

.new-wallet > a {
    color: #FFFFFF;
    text-decoration: none;

    &:hover {
        opacity: 0.7;
    }
}

.new-wallet {
    cursor: pointer;
    display: flex;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 15px;
    float: right;
}

.new-wallet > a {
    color: #FFFFFF;
    text-decoration: none;

    &:hover {
        opacity: 0.7;
    }
}


 
.container{   
     position: absolute;
    width: calc(100% - 230px);
    height: calc(100% - 115px);
    top: 67px;
}

.can-not-move{
    opacity: 0.5!important;
}
 

.wallet-remove:hover{
    text-align: center; 
    width: 100%;
    height: 0;
    color: white;
    opacity: 1;
    font-size: 1em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-flex-line-pack: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
}

.wallet-remove{
    text-align: center;
    width: 100%;
    height: 0;
    color: white;
    opacity: 0.1;
    font-size: 1em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-flex-line-pack: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;

}