<div class="col">
    <app-page-title [title]="'IMPORT'"></app-page-title>  
  </div>
<div class="container"> 
  
  <!-- keystore folder  --> 
  <div class="keystore-folder"> 
    <h6>{{akromaDataKeystoreDirName}} ({{keystoreFolder?.length}}) </h6>

    <div id="drop" dragula="folder" [(dragulaModel)]="keystoreFolder" class="{{akromaDataKeystoreDirName}}">
      <div id="{{wallet.id}}" class="{{wallet.id}}"   *ngFor="let wallet of keystoreFolder; let i = index;">
        <div class="col">
          <div class="wallet-row">
              <div class="wallet-square">
                <div class="wallet-remove" (mouseup)="deleteWallet(wallet,i)">Remove</div>
                <div class="wallet-icon">
                  
                  <img src="./assets/images/icons/icon-wallet.svg" alt="wallet">  
                </div>
              </div>
            <div class="wallet-detail">
              <a>
                <div class="wallet-name" (ngModelChange)="sort($event)">
                  {{ wallet.balance | async | number:'1.0-2' }} AKA
                </div>
                <div class="wallet-address ">
                  {{ wallet.filename }}
                </div>
              </a> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Suggested Imports  -->
  <div class="backup-folder" >
    <h6>{{documentsAkromaBackupDirName}} ({{importFolder?.length}})</h6>

    <div id="drop" dragula="folder" [(dragulaModel)]="importFolder" class="{{documentsAkromaBackupDirName}}">
      <div id="{{wallet.id}}" class="{{wallet.id}}"  *ngFor="let wallet of importFolder; let i = index;">
        <div class="col">
          <div class="wallet-row">
            <div class="wallet-square">
              <div class="wallet-icon">
                <img src="../../assets/images/icons/icon-wallet.svg" alt="wallet">
              </div>
            </div>
            <div class="wallet-detail">
              <a>
                <div class="wallet-name">
                  {{ wallet.balance | async | number:'1.0-2' }} AKA
                </div>
                <div class="wallet-address ">
                  {{ wallet.filename }}
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 







<!-- container -->
</div> 