<!-- <app-frame-action></app-frame-action> -->
<table class="hight_100p">
  <tr>
    <td>
      <div class="container">
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <p>Downloading client. <span *ngIf="state >= 1"> &#x2714; </span> </p>
            <p>Starting Akroma. <span *ngIf="state >= 2"> &#x2714; </span> </p>
            <p>Looking for peers. <span *ngIf="state >= 3"> &#x2714; </span> </p>
            <p>Syncing. <span *ngIf="state >= 4"> &#x2714; </span> </p>
            <p>Complete. <span *ngIf="state >= 5"> &#x2714; </span> </p>
          </div>
          <div class="col"></div>
        </div>
      </div>
    </td>
  </tr>
</table>