<div class="create-container">


 
    <img src="assets/create-page/default/1Create Wallet-1.svg" alt="" class="icon-create">
    <img src="assets/create-page/small/Create-Wallet.svg" alt="" class="icon-create2">
  

  
  <h3>OR</h3>


  <div class="View-with-Address-Only box">
      <img src="assets/create-page/default/View with Address Only.svg" alt="" class="icon">
      <img src="assets/create-page/small/View with Address Only.svg" alt="" class="icon2">
  </div>


  <div class="import-via-keystore box" routerLink="/import">

    <img src="assets/create-page/default/Import via Keystore-JSON File.svg" alt="" class="icon">
    <img src="assets/create-page/small/Import via Keystore-JSON File.svg" alt="" class="icon2">
 
  </div>


  <div class="import-via-mem-phrase box">

    <img src="assets/create-page/default/Import via Mnemonic Phrase.svg" alt="" class="icon">
    <img src="assets/create-page/small/Import via Mnemonic Phrase.svg" alt="" class="icon2">
 
  </div>


  <div class="import-via-private-key box">

    <img src="assets/create-page/default/Import via Private Key.svg" alt="" class="icon">
    <img src="assets/create-page/small/Import via Private Key.svg" alt="" class="icon2">

  </div>



</div>