<div class="card card-akroma text-white bg-dark">
  <div class="card-header">Send</div>
  <div class="card-body">
    <form [formGroup]="sendForm">
      <div class="form-group row">
        <label for="value" class="col-sm-2 col-form-label">Amount</label>
        <div class="col-sm-10">
          <input type="number" class="form-control form-control-akroma" formControlName="value" id="value" placeholder="0.00">
        </div>
      </div>
      <div class="form-group row">
        <label for="from" class="col-sm-2 col-form-label">From</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-akroma" formControlName="from" id="from" readonly>
        </div>
      </div>
      <div class="form-group row">
        <label for="to" class="col-sm-2 col-form-label">To</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-akroma" formControlName="to" id="to" value="" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label for="data" class="col-sm-2 col-form-label">Data</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-akroma" formControlName="data" id="data" value="" placeholder="">
          <small class="form-text text-muted">Optional</small>
        </div>
      </div>
      <div class="form-group text-right">
        <input type="button" (click)="openModal(sendTransactionPassphrase)" value="SEND" class="btn btn-akroma on-form text-white" />
      </div>
    </form>
  </div>
</div>

<!-- <div class="transaction-field gas-limit">
      <div class="left-column">Gas Limit</div>
      <div class="right-column">21000</div>
    </div>
    <div class="transaction-field gas-price">
      <div class="left-column">Gas Price</div>
      <div class="right-column">41 Gwei</div>
    </div>
    <div class="transaction-field network-fee">
      <div class="left-column">Network Fee</div>
      <div class="right-column">{{ (gasPrice$ | async) | showEther }}</div>
    </div> -->

<ng-template #sendTransactionPassphrase>
  <div class="modal-body">
    <div class="form-row">
      <div class="form-group col">
        <label for="passphrase">Wallet Passphrase</label>
        <input type="password" id="passphrase" class="form-control" [(ngModel)]="passphrase" (onEnter)="sendTransaction()">
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="sendTransaction()">Send</button>
  </div>
</ng-template>